COLOR_FONDO = #FAFAFA
COLOR_FUENTE = #125688
TIPOGRAFIA = Montserrat

body
	background COLOR_FONDO
	color COLOR_FUENTE
	font-family TIPOGRAFIA

#main-container 
	margin 30px auto
	
.iphone 
	max-width 100%

.site-footer
	text-transform uppercase 
	font-size 12px 
	
.loginbox, signup-box
	background-color white
	border 1px solid #edeeee
	border-radius 3px 
	padding 10px 0
	text-align center 
	
.signup-box 
	.platzigram
		font-family 'Oleo Script'
		font-size 42px

.signup-form 
	width 65%
	margin 0 auto
	h2
		color #a5a7aa
		font-size 1.2em
	.btn.btn-fb
		background #4090db
		font-size .9em
		&:hover
			background #2d6599
	.btn.btn-signup
		background #125688

